.select {
    position: relative;
    width: 100%;
  }
  
  .select__toggle {
    display: flex;
    font-size: 16px;
    /* font-family: 'PT Sans', sans-serif; */
    transition: .1s;
    background-color: #232324;
    color: rgba(255, 255, 255, 0.268);
    border: 2px solid rgba(255, 255, 255, 0.12);

    border-radius: 8px;
    height: 40px;
    cursor: pointer;
    align-items: center;
    width: 100%;
    padding: 10px;
    user-select: none;
    justify-content: space-between;
  }
  .select__toggle:hover {
    border-color: rgba(255, 255, 255, 0.268);
    color:  rgba(255, 255, 255, 0.268);
  }
  .select__toggle:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100' width='100'%3E%3Cpath d='M97.625 25.3l-4.813-4.89c-1.668-1.606-3.616-2.41-5.84-2.41-2.27 0-4.194.804-5.777 2.41L50 52.087 18.806 20.412C17.223 18.805 15.298 18 13.03 18c-2.225 0-4.172.804-5.84 2.41l-4.75 4.89C.813 26.95 0 28.927 0 31.23c0 2.346.814 4.301 2.439 5.865l41.784 42.428C45.764 81.174 47.689 82 50 82c2.268 0 4.215-.826 5.84-2.476l41.784-42.428c1.584-1.608 2.376-3.563 2.376-5.865 0-2.26-.792-4.236-2.375-5.932z' fill='rgba(255, 255, 255, 0.553)' /%3E%3C/svg%3E");
  }
  
  .select__toggle::after {
    content: '';
    width: 0.75rem;
    height: 0.75rem;
    flex-shrink: 0;
    margin-left: 8px;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100' width='100'%3E%3Cpath d='M97.625 25.3l-4.813-4.89c-1.668-1.606-3.616-2.41-5.84-2.41-2.27 0-4.194.804-5.777 2.41L50 52.087 18.806 20.412C17.223 18.805 15.298 18 13.03 18c-2.225 0-4.172.804-5.84 2.41l-4.75 4.89C.813 26.95 0 28.927 0 31.23c0 2.346.814 4.301 2.439 5.865l41.784 42.428C45.764 81.174 47.689 82 50 82c2.268 0 4.215-.826 5.84-2.476l41.784-42.428c1.584-1.608 2.376-3.563 2.376-5.865 0-2.26-.792-4.236-2.375-5.932z' fill='rgba(255, 255, 255, 0.268)' /%3E%3C/svg%3E");
  }
  
  .select__toggle:focus {
    outline: none;
  }
  
  .select_show .select__toggle::after {
    transform: rotate(180deg);
    transition: .1s;
  }
  .select_show>button {
    border-radius: 8px 8px 0 0;
    border-color: #de6161;
    color: #e1e3e6c3;
  }
  .select_show>button:hover {
    border-color: #de6161;
    color: #e1e3e6c3;
  }

  .select_show>.select__toggle::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100' width='100'%3E%3Cpath d='M97.625 25.3l-4.813-4.89c-1.668-1.606-3.616-2.41-5.84-2.41-2.27 0-4.194.804-5.777 2.41L50 52.087 18.806 20.412C17.223 18.805 15.298 18 13.03 18c-2.225 0-4.172.804-5.84 2.41l-4.75 4.89C.813 26.95 0 28.927 0 31.23c0 2.346.814 4.301 2.439 5.865l41.784 42.428C45.764 81.174 47.689 82 50 82c2.268 0 4.215-.826 5.84-2.476l41.784-42.428c1.584-1.608 2.376-3.563 2.376-5.865 0-2.26-.792-4.236-2.375-5.932z' fill='%23e1e3e6c3' /%3E%3C/svg%3E");
  }

  .select__dropdown {
    display: none;
    position: absolute;
    top: 2.5rem;
    left: 0;
    right: 0;
    border: 1px solid rgba(255, 255, 255, 0.12);
    max-height: 10rem;
    overflow-y: auto;
    border-radius: 0 0 8px 8px;
    z-index: 2;
    background-color: #232324;
    color: rgba(255, 255, 255, 0.268);
    transition: .1s;
  }
  
  .select_show .select__dropdown {
    display: block;
  }
  
  .select_show .select__backdrop {
    display: block;
  }
  
  .select__options {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .select__option {
    padding: 0.375rem 12px;
  }
  
  .select__option_selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.553);  
  }
  
  .select__option_selected::after {
    content: '';
    width: 12px;
    height: 12px;
    background-size: cover;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="100" width="100" class="svg-inline--fa fa-check fa-w-16" data-icon="check" data-prefix="fas" aria-hidden="true"%3E%3Cpath d="M33.964 85.547l-32.5-32.251a4.935 4.935 0 010-7.017l7.071-7.017a5.027 5.027 0 017.071 0L37.5 60.987l46.894-46.534a5.028 5.028 0 017.07 0l7.072 7.017a4.935 4.935 0 010 7.017l-57.5 57.06a5.027 5.027 0 01-7.072 0z" fill="%23de6161"/%3E%3C/svg%3E');
  }
  
  .select__option:hover {
    background-color: #f5f5f516;
    color: rgba(255, 255, 255, 0.553);
    cursor: pointer;
    transition: 0.2s background-color ease-in-out;
  }